<%- include("partials/header")-%>
<div class="icons">
    <i class="far fa-file-pdf fa-7x"></i><i class="fas fa-plus fa-3x" style="margin: 20px;"></i><i
        class="far fa-file-pdf fa-7x"></i><i class="fas fa-arrow-right fa-3x" style="margin: 20px;"></i><i
        class="fas fa-file-pdf fa-7x"></i>
</div>

<div class="tit" style="margin: 5%; font-size: 2rem;">FILE MERGED</div>
<h2><div class="custom-file-upload"><a href="/upload/download" > Download file</a></div></h2>
<%- include("partials/footer")-%>